[defaults]
filter_plugins = plugins/filter/
gathering = explicit
retry_files_enabled = False
inventory = inv.yml
transport = network_cli

# Update if using ansible-vault and don't want to type password each time
# Contents of this file is "brkrst3310" which is the vault password.
# You can recreate the vault_pass_file.txt in your home directory
# and add the string above to edit the existing vault.
vault_password_file = ~/vault_pass_file.txt

# Use the 'actionable' callback to see only failed tasks
#stdout_callback = actionable

# Use the 'debug' callback to see all tasks
stdout_callback = debug
